Flow 2.flow
[
	{
		"id": "cdeca1ba.c81cc8",
		"type": "saveflow",
		"z": "1776eb26.fe934d",
		"name": "SaveFlows",
		"path": "C:\\2_Git\\NodeRedFlows",
		"enabled": false,
		"x": 450,
		"y": 220,
		"wires": [
			[
				"cf9e19b8.347b7"
			]
		]
	},
	{
		"id": "57b76eb8.eabe18",
		"type": "inject",
		"z": "1776eb26.fe934d",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 140,
		"y": 180,
		"wires": [
			[
				"9f86a8fc.e916e8"
			]
		]
	},
	{
		"id": "9f86a8fc.e916e8",
		"type": "function",
		"z": "1776eb26.fe934d",
		"name": "doall",
		"func": "if (msg.payload.commitmsg){\n    msg.commitmsg = msg.payload.commitmsg;\n}\n\nmsg.flowId = 'all';\n\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 310,
		"y": 220,
		"wires": [
			[
				"cdeca1ba.c81cc8"
			]
		]
	},
	{
		"id": "ac9a96b4.e0da3",
		"type": "exec",
		"z": "1776eb26.fe934d",
		"command": "C:\\Users\\JoergWende\\saveflows.cmd",
		"addpay": true,
		"append": "",
		"useSpawn": "false",
		"timer": "",
		"oldrc": false,
		"name": "git-commit",
		"x": 690,
		"y": 260,
		"wires": [
			[
				"3bb53b29.868484"
			],
			[
				"5d3165c5.815dd4"
			],
			[]
		]
	},
	{
		"id": "8c674d9a.9bf5e8",
		"type": "function",
		"z": "1776eb26.fe934d",
		"name": "set-commit-message",
		"func": "if (msg.commitmsg){\n    msg.payload = '\\\"' + msg.commitmsg + '\\\"';\n} else {\n    msg.payload = '\\\"auto commit ' + (new Date()) + '\\\"';\n}\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 480,
		"y": 320,
		"wires": [
			[
				"ac9a96b4.e0da3"
			]
		]
	},
	{
		"id": "3bb53b29.868484",
		"type": "ui_text",
		"z": "1776eb26.fe934d",
		"group": "b41fb43c.d2e698",
		"order": 2,
		"width": "6",
		"height": "4",
		"name": "",
		"label": "Stdout Result:",
		"format": "{{msg.payload}}",
		"layout": "col-center",
		"x": 860,
		"y": 220,
		"wires": []
	},
	{
		"id": "5d3165c5.815dd4",
		"type": "ui_text",
		"z": "1776eb26.fe934d",
		"group": "b41fb43c.d2e698",
		"order": 3,
		"width": "6",
		"height": "4",
		"name": "",
		"label": "Stderr Result:",
		"format": "{{msg.payload}}",
		"layout": "col-center",
		"x": 860,
		"y": 260,
		"wires": []
	},
	{
		"id": "87299497.43574",
		"type": "ui_form",
		"z": "1776eb26.fe934d",
		"name": "",
		"label": "",
		"group": "b41fb43c.d2e698",
		"order": 1,
		"width": "6",
		"height": "2",
		"options": [
			{
				"label": "Commit Message",
				"value": "commitmsg",
				"type": "text",
				"required": true
			}
		],
		"formValue": {
			"commitmsg": ""
		},
		"payload": "",
		"submit": "Submit",
		"cancel": "Cancel",
		"topic": "",
		"x": 150,
		"y": 260,
		"wires": [
			[
				"9f86a8fc.e916e8"
			]
		]
	},
	{
		"id": "cf9e19b8.347b7",
		"type": "debug",
		"z": "1776eb26.fe934d",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 800,
		"y": 100,
		"wires": []
	}
]