Flow 1.flow
[
	{
		"id": "e25f65da.429aa",
		"type": "inject",
		"z": "a41d0120.0fb628",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 140,
		"y": 120,
		"wires": [
			[
				"e59778e6.0f74"
			]
		]
	},
	{
		"id": "7bb5b480.7b040c",
		"type": "mqtt in",
		"z": "a41d0120.0fb628",
		"name": "",
		"topic": "testout",
		"qos": "2",
		"datatype": "auto",
		"broker": "6e51b33b.ccf054",
		"x": 130,
		"y": 280,
		"wires": [
			[
				"649d60a8.1adef"
			]
		]
	},
	{
		"id": "649d60a8.1adef",
		"type": "debug",
		"z": "a41d0120.0fb628",
		"name": "",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"x": 410,
		"y": 280,
		"wires": []
	},
	{
		"id": "e59778e6.0f74",
		"type": "mqtt out",
		"z": "a41d0120.0fb628",
		"name": "",
		"topic": "testin",
		"qos": "",
		"retain": "",
		"broker": "6e51b33b.ccf054",
		"x": 420,
		"y": 140,
		"wires": []
	},
	{
		"id": "42fc59df.8e42f8",
		"type": "inject",
		"z": "a41d0120.0fb628",
		"name": "",
		"topic": "",
		"payload": "{\"Hello\":\"world\"}",
		"payloadType": "json",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 180,
		"y": 420,
		"wires": [
			[
				"803e5481.8df948"
			]
		]
	},
	{
		"id": "803e5481.8df948",
		"type": "mqtt out",
		"z": "a41d0120.0fb628",
		"name": "",
		"topic": "watson",
		"qos": "",
		"retain": "",
		"broker": "6e51b33b.ccf054",
		"x": 430,
		"y": 420,
		"wires": []
	}
]